@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --azul: #1877f2;
}

body {
    padding: 0;
    margin: 0;
}


.container {
    display: grid;
    grid-template-columns: 50% 50%;
}



#icon {
    position: absolute;
    left: 2vw;
}

input[type="password"],
input[type="text"],
input[type="email"] {
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: var(--azul);
    box-shadow: 0 0 5px var(--azul);
}

input[type="text"]:hover,
input[type="password"]:hover {
    border-color: var(--azul);
}


button {
    background-color: #367fb3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #2a5d8f;
}

#emailerro {
    color: red;
    text-align: center;
    font-size: 3.5vh;
    margin-bottom: 2%;
}

@media screen and (min-width: 320px) and (max-width: 790px) {



    #jaPossuiconta {
        text-align: center;
        text-decoration: none;
        color: var(--azul);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        position: absolute;
        margin-top: 5%;
        margin-left: 15%;
        font-size: 3.5vh;




    }




    @keyframes moveIcon {
        0% {
            transform: translateY(2px);
        }

        20% {
            transform: translateY(-2px);
        }

        30% {
            transform: translateY(3px);
        }

        50% {
            transform: translateY(-3px);
        }

    }


    /* Estilizando pagina de cadastro */



    #form-cadastro {
        margin-top: 40%;
        width: 90%;
        margin-left: 10%;
    }

    #form-cadastro input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 90%
    }

    #btn-container {
        height: 10%;
        width: 90%;
        margin-top: 3%;
        position: absolute;

    }

    #btn-cdt {
        width: 90%;
        margin-left: 10%;
        font-size: 3vh;

    }

    #emailerro {
        margin-bottom: 2vh;
    }



    #icon {
        position: absolute;
        top: 5%;
        left: 30vw;
        width: 25vh;
    }

    .memelogcadastro {
        margin-top: 2vh;
        position: absolute;
        top: 15vh;
        left: 30%;
        font-size: 30px;
        font-family: Comic Sans MS, Comic Sans, cursive;
        color: #3596db;
        animation: moveIcon 2s infinite;
    }
}





/* Não estilizar abaixo */

@media screen and (min-width: 790px) and (max-width: 1800px) {
    #imagem-logo {
        display: none;
    }

    #iconlogin {
        position: absolute;
        left: 50%;
        animation: moveIcon 2s;


    }

    .ladoDireito h1 {
        display: none;


    }

    .ladoEsquerdo input[type="text"],
    .ladoEsquerdo input[type="password"] {
        margin-left: 5vw;
        width: 90%;
        padding: 3vw;
        margin-top: 5vw;
    }

    @keyframes moveIcon {
        0% {
            transform: translateY(2px);
        }

        20% {
            transform: translateY(-2px);
        }

        30% {
            transform: translateY(3px);
        }

        50% {
            transform: translateY(-3px);
        }

    }

    /* Estilizando pagina de cadastro */

    #btn-cdt {
        text-align: center;
        width: 2vh;
        margin: 30vw 10% 0 5%;
        position: absolute;
        right: 25%;
        top: 35%;
        padding: 2vw 10vw;
    }

    #jaPossuiconta {
        text-align: center;
        text-decoration: none;
        color: var(--azul);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        position: absolute;
        top: 90%;
        right: 18%;


    }

    #form-cadastro input,
    input[type="email"] {
        width: 50%;
        right: -45%;
        position: relative;
        top: 20vh;
        margin-top: 2vw;
        padding: 1.5vw 1.5vw;
        border-radius: 15px;
    }



    #icon {
        position: absolute;
        left: 64%;
        width: 25vh;
    }

    .memelogcadastro {
        margin-top: 2vh;
        position: absolute;
        top: 10vh;
        left: 65%;
        font-size: 30px;
        font-family: Comic Sans MS, Comic Sans, cursive;
        color: #3596db;
        animation: moveIcon 2s infinite;
    }
}